.subscription {
  background-color: #e5c643;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-top: 20px;
}

.subscription__title {
  max-width: 50%;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 0;
}

.subscription__subtitle {
  margin: 30px 0;
}

.subscription__form {
  position: relative;
}

.subscription__input {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.subscription__input::placeholder {
  color: #767676;
  padding-left: 5%;
}

.subscription__button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.subscription__button:hover {
  background-color: #e5c643;
  color: #000000;
}

@media screen and (max-width: 425px) {
  .subscription {
    padding: 30px;
  }

  .subscription__title {
    font-size: 24px;
    max-width: 100%;
  }

  .subscription__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .subscription__input {
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
  }

  .subscription__button {
    width: 70px;
    height: 35px;
    top: 3px;
    right: 3px;
  }

  .subscription__input::placeholder {
    font-size: 15px;
  }
}
